---
layout: default
---

<div class="container">
  <div class="inner-content">
    <div class="col-md-9">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
    <div class="col-md-3">
    <div class="tagembed-container" style="margin:0 auto; width:280px;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="58590" view-url="https://widget.tagembed.com/58590?view">  </div> <script src="//widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>

    </div>
  </div>
</div>
